html, body {
  height: 100%;
  width: 100%;
}
.title {
  text-align: center;
  font-size: 50px;
  margin-top: 25px;
}
.notes {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.menu {
  font-size: 25px;
  margin-left: 60px;
}
.pagelink {
  text-decoration: none;
  color: #000000;
}
.pagelink:hover {
  color: rgb(6, 121, 228);
  text-decoration: underline;
}
.image {
  max-height: 15vw;
  width: auto;
  border: 1px solid #000000;
  margin: 10px;
}
.data-inp {
  margin: 0px 50px;
}
.table {
  width: 80vw;
  margin: 20px auto;
}
.bottomborder {
  margin: 50px 0px;
}
.notelink {
  text-decoration: underline;
  color: black;
}
.notelink:hover {
  color: rgb(6, 121, 228);
  text-decoration: underline;
}